@-moz-document url-prefix() {
  /* add styles only for firefox here... */
  /* line 10, ../sass/hacks.scss */
  footer #bottom-newsletter p {
    float: left;
    width: 253px !important;
    margin-right: 25px !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* add styles only for Safari/Chrome here... */
}
/* line 25, ../sass/hacks.scss */
html.ie-8 {
  /* add styles only for IE8 here... */
}

/* line 29, ../sass/hacks.scss */
html.ie-7 {
  /* add styles only for IE7 here... */
}

/* line 34, ../sass/hacks.scss */
html.no-js {
  /* add styles for all IE versions here... */
}

/* line 39, ../sass/hacks.scss */
html.mac {
  /* add styles only for MAC Safari here... */
}
