@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,800,600,700);
@import url(http://fonts.googleapis.com/css?family=Junge);
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 34, ../sass/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 44, ../sass/normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 55, ../sass/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 65, ../sass/normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/* Instead of relying on the fonts that are available on a user's computer, you
   can use web fonts which, like images, are resources downloaded to the user's
   browser. Because of the bandwidth and rendering resources required, web fonts
   should be used with care.

   Numerous resources for web fonts can be found on Google. Here are a few
   websites where you can find Open Source fonts to download:
   - http://www.fontsquirrel.com/fontface
   - http://www.theleagueofmoveabletype.com

   In order to use these fonts, you will need to convert them into formats
   suitable for web fonts. We recommend the free-to-use Font Squirrel's
   Font-Face Generator:
     http://www.fontsquirrel.com/fontface/generator

   The following is an example @font-face declaration. This font can then be
   used in any ruleset using a property like this:  font-family: Example, serif;

   Since we're using Sass, you'll need to declare your font faces here, then you
   can add them to the font variables in the _base.scss partial.
*/
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 116, ../sass/normalize.scss */
html {
  /*
   * To use a 14px font size on the page, delete the 16px and 12px declarations.
   * To use a 12px font size on the page, delete the 16px and 14px declarations.
   */
  /* Use a 12px base font size */
  /* font-size: 75%;  16px x 75% = 12px */
  /* Use a 14px base font size */
  /* Use a 16px base font size */
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Establish a vertical rhythm. */
  line-height: 1.5em;
}

/*
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;

@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}

 */
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 178, ../sass/normalize.scss */
html,
button,
input,
select,
textarea {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * and Nimbus Sans fonts are commonly available on Linux systems where the MS
   * fonts are less common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif, serif or
   * monospace) hints at what type of font to use if the web browser doesn't
   * find any of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */
  font-family: Arial, Helvetica, Verdana, Sans-Serif;
}

/* line 206, ../sass/normalize.scss */
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 221, ../sass/normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 231, ../sass/normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 251, ../sass/normalize.scss */
h1 {
  font-size: 2em;
  /* Sets the line height to 2 units of vertical rhythm */
  /* Before line-height: 1.5em;  3rem / 2em = 1.5em */
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0;
  /* before margin-top: 0.75em;  1.5rem / 2em = .75em */
  margin-bottom: 0.75em;
}

/* line 260, ../sass/normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  /* 3rem / 1.5em = 2em */
  margin-top: 0;
  /* before margin-top: 1em;  1.5rem / 1.5em = 1em */
  /* Before margin-bottom: 1em; */
}

/* line 267, ../sass/normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.282em;
  /* 1.5rem / 1.17em = 1.282em */
  margin-top: 0;
  /* before margin-top: 1.282em;*/
  /* Before  margin-bottom: 1.282em;*/
}

/* line 274, ../sass/normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  /* 1.5rem / 1em = 1.5em */
  margin-top: 0;
  /* before margin-top: 1.5em;*/
  /* Before margin-bottom: 1.5em; */
}

/* line 281, ../sass/normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.807em;
  /* 1.5rem / 0.83em = 1.807em */
  margin-top: 0;
  /* before margin-top: 1.807em;*/
  /* Before margin-bottom: 1.807em; */
}

/* line 288, ../sass/normalize.scss */
h6 {
  font-size: 0.75em;
  line-height: 2em;
  /* 1.5rem / .75em = 2em */
  margin-top: 0;
  /* before margin-top: 2em;*/
  /* Before margin-bottom: 2em; */
}

/* Thematic break */
/* line 296, ../sass/normalize.scss */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 307, ../sass/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 318, ../sass/normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 322, ../sass/normalize.scss */
blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 30px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 331, ../sass/normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 339, ../sass/normalize.scss */
mark {
  background: #ffd75c;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 349, ../sass/normalize.scss */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 364, ../sass/normalize.scss */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 375, ../sass/normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 388, ../sass/normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 395, ../sass/normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* @todo Determine how big element affects vertical rhythm. */
/* line 401, ../sass/normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 411, ../sass/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 418, ../sass/normalize.scss */
sup {
  top: -0.5em;
}

/* line 422, ../sass/normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 439, ../sass/normalize.scss */
dl,
menu,
ol,
ul,
.item-list ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 0 0 1.5em 0;
}

/* line 444, ../sass/normalize.scss */
.item-list ul li {
  /* Drupal override */
  margin: 0;
}

/* line 448, ../sass/normalize.scss */
dd {
  margin: 0 0 0 30px;
  /* LTR */
}

/* line 455, ../sass/normalize.scss */
ul ul, ul ol,
ol ul, ol ol,
.item-list ul ul, .item-list ul ol,
.item-list ol ul, .item-list ol ol {
  margin: 0;
  /* Turn off margins on nested lists. */
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 464, ../sass/normalize.scss */
menu,
ol {
  padding: 0 0 0 30px;
  /* LTR */
}

/* line 469, ../sass/normalize.scss */
ul,
.item-list ul {
  padding: 0 0 0 10px;
  /* LTR */
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 478, ../sass/normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 494, ../sass/normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  /* vertical-align: bottom; */
  /* Suppress the space beneath the baseline */
  /* Responsive images */
  /* @todo Add responsive embedded video. */
  max-width: 100%;
  height: auto;
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 510, ../sass/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 523, ../sass/normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 536, ../sass/normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 544, ../sass/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.5em 0.625em 1em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 556, ../sass/normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
  /* LTR */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 572, ../sass/normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 584, ../sass/normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 598, ../sass/normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 609, ../sass/normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 621, ../sass/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 635, ../sass/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 647, ../sass/normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 657, ../sass/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 667, ../sass/normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 681, ../sass/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* Prevent cramped-looking tables */
  /* Add vertical rhythm margins. */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #969696;
}

/* line 691, ../sass/normalize.scss */
caption {
  background: #2d2d2d;
  padding: 5px;
  color: #fff;
  font-weight: bold;
}

/*
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
/* line 702, ../sass/normalize.scss */
th {
  /* text-align: left;  LTR */
  padding: 0;
  border-bottom: none;
}

/* line 707, ../sass/normalize.scss */
tr th, thead th {
  color: #fff;
  font-weight: normal;
  background-color: #4f4f4f;
  border-right: 1px solid #969696;
  padding: 10px;
}

/* line 714, ../sass/normalize.scss */
tr td {
  border-top: 1px solid #969696;
  border-right: 1px solid #969696;
  padding: 10px;
}

/* line 719, ../sass/normalize.scss */
tr.odd td {
  background: #f2f7fc;
}

/* line 722, ../sass/normalize.scss */
tbody {
  border-top: none;
}

/* =============================================================================
   Reset specific only for default browser values
  ========================================================================== */
/* line 730, ../sass/normalize.scss */
p, ul, ol {
  margin-top: 0;
}

/* line 732, ../sass/normalize.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0.5em;
}

/* =============================================================================
   Common classes useful on html
   ========================================================================== */
/* line 738, ../sass/normalize.scss */
.to-left {
  float: left;
}

/* line 739, ../sass/normalize.scss */
.to-right {
  float: right;
}

/* line 740, ../sass/normalize.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 741, ../sass/normalize.scss */
.relative {
  position: relative;
}

@-moz-document url-prefix() {
  /* add styles only for firefox here... */
  /* line 10, ../sass/hacks.scss */
  footer #bottom-newsletter p {
    float: left;
    width: 253px !important;
    margin-right: 25px !important;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* add styles only for Safari/Chrome here... */
}
/* line 25, ../sass/hacks.scss */
html.ie-8 {
  /* add styles only for IE8 here... */
}

/* line 29, ../sass/hacks.scss */
html.ie-7 {
  /* add styles only for IE7 here... */
}

/* line 34, ../sass/hacks.scss */
html.no-js {
  /* add styles for all IE versions here... */
}

/* line 39, ../sass/hacks.scss */
html.mac {
  /* add styles only for MAC Safari here... */
}

/* line 6, ../sass/theme.scss */
html {
  margin: 0px;
  padding: 0px;
}

/* line 10, ../sass/theme.scss */
body {
  background: #f1f2f4 url(../images/wrap-bg.png) repeat-x;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

/* line 18, ../sass/theme.scss */
a {
  color: #1a65af;
  text-decoration: none;
}
/* line 21, ../sass/theme.scss */
a:hover {
  color: #333333;
}
/* line 22, ../sass/theme.scss */
a:visited {
  color: #053463;
}

/* line 26, ../sass/theme.scss */
input {
  border: none;
  height: 35px;
  border-radius: 3px;
  behavior: url(../PIE.php);
  padding-left: 10px;
  color: #555555;
}
/* line 32, ../sass/theme.scss */
input:focus {
  outline: 2px solid #1a65af;
  border-radius: 3px;
  behavior: url(../PIE.php);
}

/* line 40, ../sass/theme.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Junge", serif;
  font-weight: bold;
}

/* line 44, ../sass/theme.scss */
h1 {
  font-size: 36px;
}

/* line 47, ../sass/theme.scss */
h2 {
  font-size: 30px;
}

/* line 50, ../sass/theme.scss */
h3 {
  font-size: 24px;
}

/* line 53, ../sass/theme.scss */
h4 {
  font-size: 20px;
}

/* line 56, ../sass/theme.scss */
h5 {
  font-size: 18px;
}

/* line 59, ../sass/theme.scss */
h6 {
  font-size: 16px;
}

/* line 63, ../sass/theme.scss */
#wrap {
  height: 100%;
  margin: auto;
  position: relative;
  text-align: left;
  width: 1060px;
  z-index: 100;
}
/* line 73, ../sass/theme.scss */
#wrap header h1 {
  height: 171px;
  position: absolute;
  width: 171px;
}
/* line 79, ../sass/theme.scss */
#wrap header #top-social-network {
  height: 43px;
  padding-top: 7px;
  margin: 0px;
}
/* line 84, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us {
  color: white;
  display: inline;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 90, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us li {
  background: url(../images/social-network-sprite.png);
  display: inline-block;
  margin: 0px 4px;
  height: 35px;
}
/* line 96, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us li a {
  display: inline-block;
  height: 35px;
  text-indent: -9999px;
  width: 35px;
}
/* line 104, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .facebook {
  background-position: 0px 0px;
}
/* line 106, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .facebook:hover {
  background-position: 38px 0px;
}
/* line 110, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .twitter {
  background-position: 0px -86px;
}
/* line 112, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .twitter:hover {
  background-position: 38px -86px;
}
/* line 116, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .linkedin {
  background-position: 0px -171px;
}
/* line 118, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .linkedin:hover {
  background-position: 38px -171px;
}
/* line 122, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .youtube {
  background-position: 0px -255px;
}
/* line 124, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .youtube:hover {
  background-position: 38px -255px;
}
/* line 128, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .flickr {
  background-position: 0px -340px;
}
/* line 130, ../sass/theme.scss */
#wrap header #top-social-network ul#follow-us .flickr:hover {
  background-position: 38px -340px;
}
/* line 137, ../sass/theme.scss */
#wrap header #top-social-network #search p {
  background: #1f79d1 url(../images/search-icon.png) top right no-repeat;
  padding-right: 40px;
  border-radius: 3px;
  behavior: url(../PIE.php);
}
/* line 141, ../sass/theme.scss */
#wrap header #top-social-network #search p input {
  background: #1f79d1;
  color: white;
  width: 218px;
}
/* line 151, ../sass/theme.scss */
#wrap header #top-newsletter {
  height: 61px;
  padding-top: 20px;
}
/* line 154, ../sass/theme.scss */
#wrap header #top-newsletter h2 {
  line-height: 40px;
}
/* line 157, ../sass/theme.scss */
#wrap header #top-newsletter input[type="submit"] {
  color: white;
  padding: 0px 13px;
  background-color: #1657a4;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e74bb), to(#1657a4));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #1e74bb, #1657a4);
  background-image: -o-linear-gradient(top, #1e74bb, #1657a4);
  background-image: -ms-linear-gradient(top, #1e74bb, #1657a4);
  background-image: linear-gradient(top, #1e74bb, #1657a4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e74bb', EndColorStr='#1657a4');
}
/* line 166, ../sass/theme.scss */
#wrap #container {
  background: white;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  behavior: url(../PIE.php);
  height: 100%;
  width: 1060px;
}
/* line 172, ../sass/theme.scss */
#wrap #container #main-banner {
  background: url(../images/main-banner-bg.jpg) no-repeat;
  height: 453px;
}
/* line 176, ../sass/theme.scss */
#wrap #container #main-banner #text {
  border-left: 1px solid #c0b4a0;
  float: right;
  margin-top: 90px;
  padding-left: 15px;
}
/* line 182, ../sass/theme.scss */
#wrap #container #main-banner #text h2 {
  color: white;
  margin-bottom: 0px;
}
/* line 187, ../sass/theme.scss */
#wrap #container #main-banner #text span {
  color: #c0b4a0;
  font-size: 30px;
  font-weight: normal;
}
/* line 193, ../sass/theme.scss */
#wrap #container #main-banner #text p {
  color: white;
  font-size: 16px;
  font-weight: normal;
  padding: 15px 0px 0px;
}
/* line 200, ../sass/theme.scss */
#wrap #container #main-banner #text a {
  background: url(../images/arrow-ochre.png) top left no-repeat;
  color: white;
  display: block;
  height: 35px;
  line-height: 33px;
  padding-left: 40px;
}
/* line 207, ../sass/theme.scss */
#wrap #container #main-banner #text a:hover {
  color: #c0b4a0;
}
/* line 214, ../sass/theme.scss */
#wrap #container nav {
  background: #1a65af;
  border-top: 1px solid #c0b4a0;
  width: 100%;
}
/* line 219, ../sass/theme.scss */
#wrap #container nav ul {
  background: #1a65af;
  color: white;
  display: inline-block;
  font-size: 18px;
  position: relative;
  margin: 0px 50px;
  width: 960px;
}
/* line 228, ../sass/theme.scss */
#wrap #container nav ul li {
  display: inline-block;
  text-align: center;
}
/* line 232, ../sass/theme.scss */
#wrap #container nav ul li a {
  color: white;
  display: inline-block;
  padding: 15px 23px;
  text-decoration: none;
}
/* line 237, ../sass/theme.scss */
#wrap #container nav ul li a:hover {
  color: #c0b4a0;
}
/* line 245, ../sass/theme.scss */
#wrap #container section {
  display: table;
  height: 100%;
  width: 100%;
}
/* line 250, ../sass/theme.scss */
#wrap #container section div:first-child {
  margin-top: 35px;
  margin-bottom: 35px;
}
/* line 255, ../sass/theme.scss */
#wrap #container section h3 {
  padding-left: 35px;
}
/* line 261, ../sass/theme.scss */
#wrap #container section#summarize div {
  margin-top: 0px;
  margin-bottom: 35px;
}
/* line 265, ../sass/theme.scss */
#wrap #container section#summarize .select-arrow {
  background: url(../images/select.png) 284px 0px no-repeat;
  display: block;
  height: 11px;
  margin-bottom: 15px;
  width: 100%;
}
/* line 272, ../sass/theme.scss */
#wrap #container section#summarize h3 {
  background: url(../images/summarize-title-icon.png) no-repeat;
  margin-bottom: 33px;
}
/* line 277, ../sass/theme.scss */
#wrap #container section#summarize article {
  background: white;
  border: 1px solid #f1f2f4;
  display: inline;
  float: left;
  height: 100%;
  margin-left: 35px;
  text-align: center;
  width: 238px;
}
/* line 288, ../sass/theme.scss */
#wrap #container section#summarize article:first-of-type {
  margin-left: 160px;
}
/* line 292, ../sass/theme.scss */
#wrap #container section#summarize article h4 {
  background: #fcfcfb;
  margin-bottom: 0px;
  line-height: 50px;
  text-align: center;
}
/* line 298, ../sass/theme.scss */
#wrap #container section#summarize article p {
  padding: 10px;
  text-align: left;
  margin-bottom: 0px;
}
/* line 304, ../sass/theme.scss */
#wrap #container section#summarize article a {
  color: white;
  background-color: #1657a4;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e74bb), to(#1657a4));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #1e74bb, #1657a4);
  background-image: -o-linear-gradient(top, #1e74bb, #1657a4);
  background-image: -ms-linear-gradient(top, #1e74bb, #1657a4);
  background-image: linear-gradient(top, #1e74bb, #1657a4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e74bb', EndColorStr='#1657a4');
  border-radius: 3px;
  behavior: url(../PIE.php);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 10px 0px;
}
/* line 56, ../sass/variables.scss */
#wrap #container section#summarize article a:hover {
  background-color: #c2c2c2;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c2c2c2));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: -o-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: -ms-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: linear-gradient(top, #e6e6e6, #c2c2c2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6', EndColorStr='#c2c2c2');
  color: #1c1b1b;
}
/* line 313, ../sass/theme.scss */
#wrap #container section#news {
  background-color: #f7f7f7;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f7f7f7));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #e9e9e9, #f7f7f7);
  background-image: -o-linear-gradient(top, #e9e9e9, #f7f7f7);
  background-image: -ms-linear-gradient(top, #e9e9e9, #f7f7f7);
  background-image: linear-gradient(top, #e9e9e9, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9e9e9', EndColorStr='#f7f7f7');
}
/* line 316, ../sass/theme.scss */
#wrap #container section#news h3 {
  background: url(../images/news-title-icon.png) no-repeat;
  display: inline;
  float: left;
  width: 125px;
}
/* line 323, ../sass/theme.scss */
#wrap #container section#news article {
  height: 100%;
  display: inline;
  float: left;
  margin-left: 35px;
  text-align: left;
  width: 240px;
}
/* line 331, ../sass/theme.scss */
#wrap #container section#news article:first-of-type {
  margin-left: 0px;
}
/* line 335, ../sass/theme.scss */
#wrap #container section#news article h4 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
/* line 342, ../sass/theme.scss */
#wrap #container section#news article span {
  background: url(../images/date-bg.png) no-repeat;
  color: white;
  font-weight: 600;
  line-height: normal;
  padding: 2px 16px;
}
/* line 351, ../sass/theme.scss */
#wrap #container section#news article p {
  padding: 10px 0px;
  margin-bottom: 0px;
}
/* line 357, ../sass/theme.scss */
#wrap #container section#news article a {
  color: white;
  background-color: #1657a4;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1e74bb), to(#1657a4));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #1e74bb, #1657a4);
  background-image: -o-linear-gradient(top, #1e74bb, #1657a4);
  background-image: -ms-linear-gradient(top, #1e74bb, #1657a4);
  background-image: linear-gradient(top, #1e74bb, #1657a4);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e74bb', EndColorStr='#1657a4');
  border-radius: 3px;
  behavior: url(../PIE.php);
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  margin: 10px 0px;
}
/* line 56, ../sass/variables.scss */
#wrap #container section#news article a:hover {
  background-color: #c2c2c2;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c2c2c2));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: -o-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: -ms-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: linear-gradient(top, #e6e6e6, #c2c2c2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6', EndColorStr='#c2c2c2');
  color: #1c1b1b;
}
/* line 367, ../sass/theme.scss */
#wrap #container section#blog h3 {
  background: url(../images/blog-title-icon.png) no-repeat;
  display: inline;
  float: left;
  width: 125px;
}
/* line 374, ../sass/theme.scss */
#wrap #container section#blog article {
  background: #fcfcfb;
  border: 1px solid #f1f2f4;
  display: inline;
  float: left;
  height: 100%;
  margin-left: 35px;
  text-align: left;
  width: 238px;
}
/* line 384, ../sass/theme.scss */
#wrap #container section#blog article:first-of-type {
  margin-left: 0px;
}
/* line 388, ../sass/theme.scss */
#wrap #container section#blog article img {
  margin: 0px;
  display: block;
}
/* line 393, ../sass/theme.scss */
#wrap #container section#blog article h4 {
  background: #1a65af;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: normal;
  padding: 10px;
}
/* line 401, ../sass/theme.scss */
#wrap #container section#blog article h4 a {
  color: white;
}
/* line 403, ../sass/theme.scss */
#wrap #container section#blog article h4 a:hover {
  color: #c0b4a0;
}
/* line 409, ../sass/theme.scss */
#wrap #container section#blog article p {
  padding: 10px;
  margin-bottom: 5px;
}
/* line 417, ../sass/theme.scss */
#wrap #container section#video #video-box {
  display: inline;
  float: left;
  height: 100%;
  position: relative;
  width: 400px;
  margin: 0px;
  padding: 0px;
}
/* line 425, ../sass/theme.scss */
#wrap #container section#video #video-box h3 {
  background: url(../images/video-title-icon.png) no-repeat;
  margin-bottom: 33px;
}
/* line 430, ../sass/theme.scss */
#wrap #container section#video #video-box a.prev {
  background: url(../images/video-arrows-sprite.png) 0px 0px no-repeat;
  height: 30px;
  position: absolute;
  right: 35px;
  top: 0px;
  width: 30px;
}
/* line 438, ../sass/theme.scss */
#wrap #container section#video #video-box a.prev:hover {
  background: url(../images/video-arrows-sprite.png) -50px 0px no-repeat;
}
/* line 443, ../sass/theme.scss */
#wrap #container section#video #video-box a.next {
  background: url(../images/video-arrows-sprite.png) 0px -50px no-repeat;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 30px;
}
/* line 451, ../sass/theme.scss */
#wrap #container section#video #video-box a.next:hover {
  background: url(../images/video-arrows-sprite.png) -50px -50px no-repeat;
}
/* line 456, ../sass/theme.scss */
#wrap #container section#video #facebook-like {
  background: #fcfcfb;
  display: inline;
  float: left;
  height: 100%;
  margin-left: 35px;
  text-align: left;
  width: 240px;
}
/* line 465, ../sass/theme.scss */
#wrap #container section#video #facebook-like h4 {
  border: 1px solid #f1f2f4;
  margin-bottom: 0px;
  line-height: 50px;
  text-align: center;
}
/* line 472, ../sass/theme.scss */
#wrap #container section#video #twitter-feed {
  display: inline;
  float: left;
  height: 100%;
  margin-left: 35px;
}
/* line 479, ../sass/theme.scss */
#wrap #container section#voice {
  background-color: #f7f7f7;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f7f7f7));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #e9e9e9, #f7f7f7);
  background-image: -o-linear-gradient(top, #e9e9e9, #f7f7f7);
  background-image: -ms-linear-gradient(top, #e9e9e9, #f7f7f7);
  background-image: linear-gradient(top, #e9e9e9, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9e9e9', EndColorStr='#f7f7f7');
}
/* line 482, ../sass/theme.scss */
#wrap #container section#voice h3 {
  background: url(../images/voice-title-icon.png) no-repeat;
  margin-bottom: 33px;
}
/* line 488, ../sass/theme.scss */
#wrap #container section#voice #quote img {
  display: inline;
  float: left;
  margin-right: 15px;
}
/* line 494, ../sass/theme.scss */
#wrap #container section#voice #quote p {
  border-left: 1px solid #333333;
  display: table;
  padding-left: 15px;
}
/* line 498, ../sass/theme.scss */
#wrap #container section#voice #quote p span {
  font-weight: bold;
  display: block;
}

/* line 508, ../sass/theme.scss */
footer {
  background: url(../images/pattern-footer.png) repeat;
  color: white;
  height: 360px;
  margin-top: -20px;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 10;
}
/* line 518, ../sass/theme.scss */
footer #bottom-newsletter {
  padding: 80px 0px 20px;
}
/* line 520, ../sass/theme.scss */
footer #bottom-newsletter h2 {
  background: url(../images/newsletter-title-icon.png) no-repeat;
  float: left;
  line-height: normal;
  padding-left: 35px;
  margin-right: 30px;
}
/* line 527, ../sass/theme.scss */
footer #bottom-newsletter p {
  float: left;
  width: 260px;
  margin-right: 30px;
  margin-bottom: 0px;
}
/* line 533, ../sass/theme.scss */
footer #bottom-newsletter input[type="submit"] {
  color: #333333;
  padding: 0px 13px;
  background-color: #c2c2c2;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c2c2c2));
  /* Saf4+, Chrome */
  background-image: -moz-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: -o-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: -ms-linear-gradient(top, #e6e6e6, #c2c2c2);
  background-image: linear-gradient(top, #e6e6e6, #c2c2c2);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6', EndColorStr='#c2c2c2');
}
/* line 539, ../sass/theme.scss */
footer #navigation {
  border-top: 1px solid #4a8bcb;
  height: 100%;
  padding: 20px 0px;
}
/* line 545, ../sass/theme.scss */
footer #navigation #sitemap ul {
  margin: 0px;
  padding: 0px;
  height: 70px;
}
/* line 548, ../sass/theme.scss */
footer #navigation #sitemap ul li {
  float: left;
  width: 200px;
}
/* line 551, ../sass/theme.scss */
footer #navigation #sitemap ul li a {
  color: white;
}
/* line 553, ../sass/theme.scss */
footer #navigation #sitemap ul li a:hover {
  color: #c0b4a0;
}
/* line 561, ../sass/theme.scss */
footer #navigation #contact p {
  background: url(../images/phone-icon.png) no-repeat;
  display: inline;
  padding: 5px 0px 5px 30px;
  margin-right: 15px;
}
/* line 567, ../sass/theme.scss */
footer #navigation #contact a {
  background: url(../images/mail-icon.png) no-repeat;
  display: inline;
  color: white;
  padding: 5px 0px 5px 30px;
}
/* line 572, ../sass/theme.scss */
footer #navigation #contact a:hover {
  color: #c0b4a0;
}
/* line 578, ../sass/theme.scss */
footer #copyright {
  border-top: 1px solid #4a8bcb;
  height: 50px;
  line-height: 50px;
}
/* line 582, ../sass/theme.scss */
footer #copyright a {
  color: white;
}
/* line 584, ../sass/theme.scss */
footer #copyright a:hover {
  color: #c0b4a0;
}
/* line 588, ../sass/theme.scss */
footer #copyright span {
  float: right;
}
