@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,800,600,700);
@import url(http://fonts.googleapis.com/css?family=Junge);
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   Normalize.css is intended to be used as an alternative to CSS resets.

   It is suggested that you read through the normalize.css file and customise it
   to meet the design requirements of a project rather including it as a "black
   box". @see http://nicolasgallagher.com/about-normalize-css/

   Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
         @see http://snook.ca/archives/html_and_css/no_css_reset/
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/* Instead of relying on the fonts that are available on a user's computer, you
   can use web fonts which, like images, are resources downloaded to the user's
   browser. Because of the bandwidth and rendering resources required, web fonts
   should be used with care.

   Numerous resources for web fonts can be found on Google. Here are a few
   websites where you can find Open Source fonts to download:
   - http://www.fontsquirrel.com/fontface
   - http://www.theleagueofmoveabletype.com

   In order to use these fonts, you will need to convert them into formats
   suitable for web fonts. We recommend the free-to-use Font Squirrel's
   Font-Face Generator:
     http://www.fontsquirrel.com/fontface/generator

   The following is an example @font-face declaration. This font can then be
   used in any ruleset using a property like this:  font-family: Example, serif;

   Since we're using Sass, you'll need to declare your font faces here, then you
   can add them to the font variables in the _base.scss partial.
*/
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  /*
   * To use a 14px font size on the page, delete the 16px and 12px declarations.
   * To use a 12px font size on the page, delete the 16px and 14px declarations.
   */
  /* Use a 12px base font size */
  /* font-size: 75%;  16px x 75% = 12px */
  /* Use a 14px base font size */
  /* Use a 16px base font size */
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* Establish a vertical rhythm. */
  line-height: 1.5em; }

/*
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;

@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}

 */
/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  /* The following font family declarations are based on the Microsoft core web
   * fonts which are common fonts available on most computer systems. The DejaVu
   * and Nimbus Sans fonts are commonly available on Linux systems where the MS
   * fonts are less common. Tahoma and Helvetica are also widely available.
   *
   * A user's web browser will look at the comma-separated list and will
   * attempt to use each font in turn until it finds one that is available
   * on the user's computer. The final "generic" font (sans-serif, serif or
   * monospace) hints at what type of font to use if the web browser doesn't
   * find any of the fonts in the list.

  font-family: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
  font-family: Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
  font-family: Georgia, "Times New Roman", "DejaVu Serif", serif;

  font-family: Verdana, Tahoma, "DejaVu Sans", sans-serif;
  font-family: Tahoma, Verdana, "DejaVu Sans", sans-serif;
  font-family: Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;

  font-family: "Courier New", "DejaVu Sans Mono", monospace;

   */
  font-family: Arial, Helvetica, Verdana, Sans-Serif; }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography

   To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
   so that the line height of our base font becomes the basic unit of vertical
   measurement. We use multiples of that unit to set the top and bottom margins
   for our block level elements and to set the line heights of any fonts.
   For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  /* Sets the line height to 2 units of vertical rhythm */
  /* Before line-height: 1.5em;  3rem / 2em = 1.5em */
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0;
  /* before margin-top: 0.75em;  1.5rem / 2em = .75em */
  margin-bottom: 0.75em; }

h2 {
  font-size: 1.5em;
  line-height: 2em;
  /* 3rem / 1.5em = 2em */
  margin-top: 0;
  /* before margin-top: 1em;  1.5rem / 1.5em = 1em */
  /* Before margin-bottom: 1em; */ }

h3 {
  font-size: 1.17em;
  line-height: 1.282em;
  /* 1.5rem / 1.17em = 1.282em */
  margin-top: 0;
  /* before margin-top: 1.282em;*/
  /* Before  margin-bottom: 1.282em;*/ }

h4 {
  font-size: 1em;
  line-height: 1.5em;
  /* 1.5rem / 1em = 1.5em */
  margin-top: 0;
  /* before margin-top: 1.5em;*/
  /* Before margin-bottom: 1.5em; */ }

h5 {
  font-size: 0.83em;
  line-height: 1.807em;
  /* 1.5rem / 0.83em = 1.807em */
  margin-top: 0;
  /* before margin-top: 1.807em;*/
  /* Before margin-bottom: 1.807em; */ }

h6 {
  font-size: 0.75em;
  line-height: 2em;
  /* 1.5rem / .75em = 2em */
  margin-top: 0;
  /* before margin-top: 2em;*/
  /* Before margin-bottom: 2em; */ }

/* Thematic break */
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.5em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 30px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ffd75c;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.5em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp,
tt,
var {
  font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.5em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

/* @todo Determine how big element affects vertical rhythm. */
small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul,
.item-list ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 0 0 1.5em 0; }

.item-list ul li {
  /* Drupal override */
  margin: 0; }

dd {
  margin: 0 0 0 30px;
  /* LTR */ }

ul ul, ul ol,
ol ul, ol ol,
.item-list ul ul, .item-list ul ol,
.item-list ol ul, .item-list ol ol {
  margin: 0;
  /* Turn off margins on nested lists. */ }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol {
  padding: 0 0 0 30px;
  /* LTR */ }

ul,
.item-list ul {
  padding: 0 0 0 10px;
  /* LTR */ }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
  /* vertical-align: bottom; */
  /* Suppress the space beneath the baseline */
  /* Responsive images */
  /* @todo Add responsive embedded video. */
  max-width: 100%;
  height: auto; }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.5em 0.625em 1em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
  /* LTR */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* width: 100%; */
  /* Prevent cramped-looking tables */
  /* Add vertical rhythm margins. */
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 1px solid #969696; }

caption {
  background: #2d2d2d;
  padding: 5px;
  color: #fff;
  font-weight: bold; }

/*
 * Drupal provides table styling which is only useful for its admin section
 * forms, so we override this default CSS. (We set it back in forms.css.)
 */
th {
  /* text-align: left;  LTR */
  padding: 0;
  border-bottom: none; }

tr th, thead th {
  color: #fff;
  font-weight: normal;
  background-color: #4f4f4f;
  border-right: 1px solid #969696;
  padding: 10px; }

tr td {
  border-top: 1px solid #969696;
  border-right: 1px solid #969696;
  padding: 10px; }

tr.odd td {
  background: #f2f7fc; }

tbody {
  border-top: none; }

/* =============================================================================
   Reset specific only for default browser values
  ========================================================================== */
p, ul, ol {
  margin-top: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 0.5em; }

/* =============================================================================
   Common classes useful on html
   ========================================================================== */
.to-left {
  float: left; }

.to-right {
  float: right; }

.uppercase {
  text-transform: uppercase; }

.relative {
  position: relative; }

@-moz-document url-prefix() {
  /* add styles only for firefox here... */
  footer #bottom-newsletter p {
    float: left;
    width: 253px !important;
    margin-right: 25px !important; } }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* add styles only for Safari/Chrome here... */ }
html.ie-8 {
  /* add styles only for IE8 here... */ }

html.ie-7 {
  /* add styles only for IE7 here... */ }

html.no-js {
  /* add styles for all IE versions here... */ }

html.mac {
  /* add styles only for MAC Safari here... */ }

html {
  margin: 0px;
  padding: 0px; }

body {
  background: #f1f2f4 url(images/wrap-bg.png) repeat-x;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-align: center; }

a {
  color: #1a65af;
  text-decoration: none; }
  a:hover {
    color: #333333; }
  a:visited {
    color: #053463; }

input {
  border: none;
  height: 35px;
  border-radius: 3px;
  behavior: url(../PIE.php);
  padding-left: 10px;
  color: #555555; }
  input:focus {
    outline: 2px solid #1a65af;
    border-radius: 3px;
    behavior: url(../PIE.php); }

h1, h2, h3, h4, h5, h6 {
  font-family: "Junge", serif;
  font-weight: bold; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #1c1b1b; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #1c1b1b; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #1c1b1b; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #1c1b1b; }

#wrap {
  height: 100%;
  margin: auto;
  position: relative;
  text-align: left;
  width: 1060px;
  z-index: 100; }
  #wrap header#header h1 {
    height: 171px;
    position: absolute;
    width: 171px; }
  #wrap header#header #top-social-network {
    height: 43px;
    padding-top: 7px;
    margin: 0px; }
    #wrap header#header #top-social-network ul#follow-us {
      color: white;
      display: inline;
      list-style: none;
      margin: 0px;
      padding: 0px; }
      #wrap header#header #top-social-network ul#follow-us li {
        background: url(images/social-network-sprite.png);
        display: inline-block;
        margin: 0px 4px;
        height: 35px; }
        #wrap header#header #top-social-network ul#follow-us li a {
          display: inline-block;
          height: 35px;
          text-indent: -9999px;
          width: 35px; }
      #wrap header#header #top-social-network ul#follow-us .facebook {
        background-position: 0px 0px; }
        #wrap header#header #top-social-network ul#follow-us .facebook:hover {
          background-position: 38px 0px; }
      #wrap header#header #top-social-network ul#follow-us .twitter {
        background-position: 0px -86px; }
        #wrap header#header #top-social-network ul#follow-us .twitter:hover {
          background-position: 38px -86px; }
      #wrap header#header #top-social-network ul#follow-us .linkedin {
        background-position: 0px -171px; }
        #wrap header#header #top-social-network ul#follow-us .linkedin:hover {
          background-position: 38px -171px; }
      #wrap header#header #top-social-network ul#follow-us .youtube {
        background-position: 0px -255px; }
        #wrap header#header #top-social-network ul#follow-us .youtube:hover {
          background-position: 38px -255px; }
      #wrap header#header #top-social-network ul#follow-us .flickr {
        background-position: 0px -340px; }
        #wrap header#header #top-social-network ul#follow-us .flickr:hover {
          background-position: 38px -340px; }
    #wrap header#header #top-social-network #search p {
      border-radius: 3px;
      behavior: url(../PIE.php); }
      #wrap header#header #top-social-network #search p #s {
        background: #1f79d1;
        color: white;
        width: 218px;
        float: left; }
      #wrap header#header #top-social-network #search p #searchsubmit {
        background: #1f79d1 url(images/search-icon.png) top right no-repeat;
        width: 41px; }
  #wrap header#header #top-newsletter {
    height: 61px;
    padding-top: 20px; }
    #wrap header#header #top-newsletter h2 {
      line-height: 40px;
      text-align: right;
      padding-right: 6px; }
    #wrap header#header #top-newsletter .newsletter-widget p {
      float: left;
      margin-right: 5px; }
    #wrap header#header #top-newsletter input[type="submit"] {
      color: white;
      padding: 0px 13px;
      background-color: #1657a4;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#1e74bb), to(#1657a4));
      /* Saf4+, Chrome */
      background-image: -moz-linear-gradient(top, #1e74bb, #1657a4);
      background-image: -o-linear-gradient(top, #1e74bb, #1657a4);
      background-image: -ms-linear-gradient(top, #1e74bb, #1657a4);
      background-image: linear-gradient(top, #1e74bb, #1657a4);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e74bb', EndColorStr='#1657a4'); }
  #wrap #container {
    background: white;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    behavior: url(../PIE.php);
    height: 100%;
    width: 1060px; }
    #wrap #container #main-banner {
      background: url(images/main-banner-bg.jpg) no-repeat;
      height: 453px; }
      #wrap #container #main-banner #text {
        border-left: 1px solid #c0b4a0;
        float: right;
        margin-top: 90px;
        padding-left: 15px; }
        #wrap #container #main-banner #text h2 {
          color: white;
          margin-bottom: 0px; }
        #wrap #container #main-banner #text span {
          color: #c0b4a0;
          font-size: 30px;
          font-weight: normal; }
        #wrap #container #main-banner #text p {
          color: white;
          font-size: 16px;
          font-weight: normal;
          padding: 15px 0px 0px; }
        #wrap #container #main-banner #text a {
          background: url(images/arrow-ochre.png) top left no-repeat;
          color: white;
          display: block;
          height: 35px;
          line-height: 33px;
          padding-left: 40px; }
          #wrap #container #main-banner #text a:hover {
            color: #c0b4a0; }
    #wrap #container #main-banner.news, #wrap #container #main-banner.post {
      height: 36px;
      background-image: none; }
      #wrap #container #main-banner.news #text, #wrap #container #main-banner.post #text {
        display: none; }
    #wrap #container nav {
      border-top: 1px solid #c0b4a0;
      width: 100%;
      height: 54px;
      background-color: #1a65af;
      margin-bottom: 25px; }
      #wrap #container nav ul {
        color: white;
        display: inline-block;
        font-size: 18px;
        position: relative;
        margin: 0px 50px;
        width: 960px; }
        #wrap #container nav ul li {
          display: inline-block;
          text-align: center;
          background-color: #1a65af; }
          #wrap #container nav ul li a {
            background-color: #1a65af;
            color: white;
            display: inline-block;
            padding: 15px 22px;
            text-decoration: none; }
            #wrap #container nav ul li a:hover {
              color: #c0b4a0; }
          #wrap #container nav ul li.current-menu-item {
            background: url("images/select.png") center bottom no-repeat;
            height: 65px;
            margin-bottom: 15px; }
    #wrap #container .content-area {
      margin: 50px 0 50px 50px;
      display: inline-block; }
      #wrap #container .content-area h1 {
        line-height: 47px; }
      #wrap #container .content-area input, #wrap #container .content-area textarea {
        border: 1px solid #1c1b1b; }
      #wrap #container .content-area textarea {
        width: 80%; }
      #wrap #container .content-area .slidedeck-2-bug {
        display: none !important; }
      #wrap #container .content-area .has-sidebar {
        display: inline-block;
        width: 72%;
        float: left; }
      #wrap #container .content-area #secondary {
        display: inline-block;
        width: 26%;
        float: right; }
        #wrap #container .content-area #secondary ul {
          list-style-type: none; }
          #wrap #container .content-area #secondary ul li {
            border-bottom: 1px solid #f1f2f4;
            margin-bottom: 5px; }
      #wrap #container .content-area .entry-content .alignleft {
        float: left; }
      #wrap #container .content-area .entry-content .alignright {
        float: right; }
      #wrap #container .content-area .entry-content .alignnone {
        float: none; }
      #wrap #container .content-area #comments label {
        width: 67px;
        display: inline-block; }
      #wrap #container .content-area #comments input, #wrap #container .content-area #comments textarea {
        border: 1px solid #1c1b1b; }
      #wrap #container .content-area #comments textarea {
        width: 80%; }
      #wrap #container .content-area #comments ol {
        list-style-type: none; }
        #wrap #container .content-area #comments ol .comment {
          width: 470px;
          display: inline;
          float: left;
          margin-bottom: 24px; }
          #wrap #container .content-area #comments ol .comment .content {
            display: table;
            padding-left: 15px;
            border-left: 1px solid #333333; }
            #wrap #container .content-area #comments ol .comment .content .comment-text {
              margin-bottom: -3px;
              max-height: 74px;
              overflow-y: auto; }
          #wrap #container .content-area #comments ol .comment .comment-meta, #wrap #container .content-area #comments ol .comment .says, #wrap #container .content-area #comments ol .comment .reply {
            display: none; }
          #wrap #container .content-area #comments ol .comment .vcard {
            float: left;
            padding-right: 15px; }
          #wrap #container .content-area #comments ol .comment .fn {
            font-weight: bold;
            font-style: normal;
            display: block; }
      #wrap #container .content-area #comments #respond {
        clear: both; }
      #wrap #container .content-area .search h1 {
        font-size: 21px;
        margin-bottom: 0;
        line-height: normal; }
      #wrap #container .content-area .search .page-header {
        margin-bottom: 20px; }
      #wrap #container .content-area #post-8 pre {
        display: inline;
        margin-right: 16px; }
      #wrap #container .content-area #searchform #s {
        border: 1px solid #1c1b1b;
        width: 218px;
        float: left; }
      #wrap #container .content-area #searchform #searchsubmit {
        background: url(images/search-icon.png) top right no-repeat;
        width: 41px;
        border: 1px solid #1c1b1b;
        height: 39px; }
    #wrap #container #sidebar {
      margin: 50px; }
      #wrap #container #sidebar ul {
        list-style-type: none; }
        #wrap #container #sidebar ul #s {
          border: 1px solid #1c1b1b;
          width: 218px;
          float: left; }
        #wrap #container #sidebar ul #searchsubmit {
          background: url(images/search-icon.png) top right no-repeat;
          width: 41px;
          border: 1px solid #1c1b1b;
          height: 39px; }
    #wrap #container section {
      display: table;
      height: 100%;
      width: 100%; }
      #wrap #container section div:first-child {
        margin-top: 35px;
        margin-bottom: 35px; }
      #wrap #container section h3 {
        padding-left: 35px; }
    #wrap #container section#summarize div {
      margin-top: 0px;
      margin-bottom: 35px; }
    #wrap #container section#summarize h3 {
      background: url(images/summarize-title-icon.png) no-repeat;
      margin-bottom: 33px; }
    #wrap #container section#summarize article {
      background: white;
      border: 1px solid #f1f2f4;
      display: inline;
      float: left;
      height: 100%;
      margin-left: 35px;
      text-align: center;
      width: 238px; }
      #wrap #container section#summarize article:first-of-type {
        margin-left: 160px; }
      #wrap #container section#summarize article h4 {
        background: #fcfcfb;
        margin-bottom: 0px;
        line-height: 50px;
        text-align: center; }
        #wrap #container section#summarize article h4 a {
          color: #1c1b1b; }
      #wrap #container section#summarize article p {
        padding: 10px;
        text-align: left;
        margin-bottom: 0px; }
      #wrap #container section#summarize article .read-more {
        color: white;
        background-color: #1657a4;
        /* Fallback Color */
        background-image: -webkit-gradient(linear, left top, left bottom, from(#1e74bb), to(#1657a4));
        /* Saf4+, Chrome */
        background-image: -moz-linear-gradient(top, #1e74bb, #1657a4);
        background-image: -o-linear-gradient(top, #1e74bb, #1657a4);
        background-image: -ms-linear-gradient(top, #1e74bb, #1657a4);
        background-image: linear-gradient(top, #1e74bb, #1657a4);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e74bb', EndColorStr='#1657a4');
        border-radius: 3px;
        behavior: url(../PIE.php);
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        margin: 10px 0px; }
        #wrap #container section#summarize article .read-more:hover {
          background-color: #c2c2c2;
          /* Fallback Color */
          background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c2c2c2));
          /* Saf4+, Chrome */
          background-image: -moz-linear-gradient(top, #e6e6e6, #c2c2c2);
          background-image: -o-linear-gradient(top, #e6e6e6, #c2c2c2);
          background-image: -ms-linear-gradient(top, #e6e6e6, #c2c2c2);
          background-image: linear-gradient(top, #e6e6e6, #c2c2c2);
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6', EndColorStr='#c2c2c2');
          color: #1c1b1b; }
    #wrap #container section#news {
      background-color: #f7f7f7;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f7f7f7));
      /* Saf4+, Chrome */
      background-image: -moz-linear-gradient(top, #e9e9e9, #f7f7f7);
      background-image: -o-linear-gradient(top, #e9e9e9, #f7f7f7);
      background-image: -ms-linear-gradient(top, #e9e9e9, #f7f7f7);
      background-image: linear-gradient(top, #e9e9e9, #f7f7f7);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9e9e9', EndColorStr='#f7f7f7'); }
      #wrap #container section#news h3 {
        background: url(images/news-title-icon.png) no-repeat;
        display: inline;
        float: left;
        width: 125px; }
      #wrap #container section#news article {
        height: 100%;
        display: inline;
        float: left;
        margin-left: 35px;
        text-align: left;
        width: 240px; }
        #wrap #container section#news article:first-of-type {
          margin-left: 0px; }
        #wrap #container section#news article h4 {
          font-size: 18px;
          font-family: "Open Sans", sans-serif;
          font-weight: normal; }
          #wrap #container section#news article h4 a {
            color: #1c1b1b; }
        #wrap #container section#news article span {
          background: url(images/date-bg.png) no-repeat;
          color: white;
          font-weight: 600;
          line-height: normal;
          padding: 2px 16px; }
        #wrap #container section#news article p {
          padding: 10px 0px;
          margin-bottom: 0px; }
        #wrap #container section#news article .read-more {
          color: white;
          background-color: #1657a4;
          /* Fallback Color */
          background-image: -webkit-gradient(linear, left top, left bottom, from(#1e74bb), to(#1657a4));
          /* Saf4+, Chrome */
          background-image: -moz-linear-gradient(top, #1e74bb, #1657a4);
          background-image: -o-linear-gradient(top, #1e74bb, #1657a4);
          background-image: -ms-linear-gradient(top, #1e74bb, #1657a4);
          background-image: linear-gradient(top, #1e74bb, #1657a4);
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#1e74bb', EndColorStr='#1657a4');
          border-radius: 3px;
          behavior: url(../PIE.php);
          padding: 10px 20px;
          text-align: center;
          display: inline-block;
          margin: 10px 0px; }
          #wrap #container section#news article .read-more:hover {
            background-color: #c2c2c2;
            /* Fallback Color */
            background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c2c2c2));
            /* Saf4+, Chrome */
            background-image: -moz-linear-gradient(top, #e6e6e6, #c2c2c2);
            background-image: -o-linear-gradient(top, #e6e6e6, #c2c2c2);
            background-image: -ms-linear-gradient(top, #e6e6e6, #c2c2c2);
            background-image: linear-gradient(top, #e6e6e6, #c2c2c2);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6', EndColorStr='#c2c2c2');
            color: #1c1b1b; }
    #wrap #container section#blog h3 {
      background: url(images/blog-title-icon.png) no-repeat;
      display: inline;
      float: left;
      width: 125px; }
    #wrap #container section#blog article {
      background: #fcfcfb;
      border: 1px solid #f1f2f4;
      display: inline;
      float: left;
      height: 100%;
      margin-left: 35px;
      text-align: left;
      width: 238px; }
      #wrap #container section#blog article:first-of-type {
        margin-left: 0px; }
      #wrap #container section#blog article img {
        margin: 0px;
        display: block; }
      #wrap #container section#blog article h4 {
        background: #1a65af;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        line-height: normal;
        padding: 10px; }
        #wrap #container section#blog article h4 a {
          color: white; }
          #wrap #container section#blog article h4 a:hover {
            color: #c0b4a0; }
      #wrap #container section#blog article p {
        padding: 10px;
        margin-bottom: 5px; }
    #wrap #container section#video #video-box {
      display: inline;
      float: left;
      height: 100%;
      position: relative;
      width: 400px;
      margin: 0px;
      padding: 0px; }
      #wrap #container section#video #video-box h3 {
        background: url(images/video-title-icon.png) no-repeat;
        margin-bottom: 33px; }
      #wrap #container section#video #video-box a.prev {
        background: url(images/video-arrows-sprite.png) 0px 0px no-repeat;
        height: 30px;
        position: absolute;
        right: 35px;
        top: 0px;
        width: 30px; }
        #wrap #container section#video #video-box a.prev:hover {
          background: url(images/video-arrows-sprite.png) -50px 0px no-repeat; }
      #wrap #container section#video #video-box a.next {
        background: url(images/video-arrows-sprite.png) 0px -50px no-repeat;
        height: 30px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px; }
        #wrap #container section#video #video-box a.next:hover {
          background: url(images/video-arrows-sprite.png) -50px -50px no-repeat; }
    #wrap #container section#video #facebook-like {
      background: #fcfcfb;
      display: inline;
      float: left;
      height: 100%;
      margin-left: 35px;
      text-align: left;
      width: 240px; }
      #wrap #container section#video #facebook-like h4 {
        border: 1px solid #f1f2f4;
        margin-bottom: 0px;
        line-height: 50px;
        text-align: center; }
    #wrap #container section#video #twitter-feed {
      display: inline;
      float: left;
      height: 100%;
      margin-left: 35px; }
    #wrap #container section#voice {
      background-color: #f7f7f7;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#f7f7f7));
      /* Saf4+, Chrome */
      background-image: -moz-linear-gradient(top, #e9e9e9, #f7f7f7);
      background-image: -o-linear-gradient(top, #e9e9e9, #f7f7f7);
      background-image: -ms-linear-gradient(top, #e9e9e9, #f7f7f7);
      background-image: linear-gradient(top, #e9e9e9, #f7f7f7);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e9e9e9', EndColorStr='#f7f7f7'); }
      #wrap #container section#voice h3 {
        background: url(images/voice-title-icon.png) no-repeat;
        margin-bottom: 33px; }
      #wrap #container section#voice #quote img {
        display: inline;
        float: left;
        margin-right: 15px; }
      #wrap #container section#voice #quote p {
        border-left: 1px solid #333333;
        display: table;
        padding-left: 15px; }
        #wrap #container section#voice #quote p span {
          font-weight: bold;
          display: block; }

footer#footer {
  background: url(images/pattern-footer.png) repeat;
  color: white;
  height: 360px;
  margin-top: -20px;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 10; }
  footer#footer #bottom-newsletter {
    padding: 80px 0px 20px; }
    footer#footer #bottom-newsletter h2 {
      background: url(images/newsletter-title-icon.png) no-repeat;
      float: left;
      line-height: normal;
      padding-left: 35px;
      margin-right: 30px; }
    footer#footer #bottom-newsletter p {
      float: left;
      width: 260px;
      margin-right: 30px;
      margin-bottom: 0px; }
    footer#footer #bottom-newsletter input[type="submit"] {
      color: #333333;
      padding: 0px 13px;
      background-color: #c2c2c2;
      /* Fallback Color */
      background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#c2c2c2));
      /* Saf4+, Chrome */
      background-image: -moz-linear-gradient(top, #e6e6e6, #c2c2c2);
      background-image: -o-linear-gradient(top, #e6e6e6, #c2c2c2);
      background-image: -ms-linear-gradient(top, #e6e6e6, #c2c2c2);
      background-image: linear-gradient(top, #e6e6e6, #c2c2c2);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e6e6e6', EndColorStr='#c2c2c2'); }
    footer#footer #bottom-newsletter .newsletter {
      float: left;
      width: 430px; }
      footer#footer #bottom-newsletter .newsletter p {
        float: none;
        display: inline;
        margin-right: 5px !important; }
  footer#footer #navigation {
    border-top: 1px solid #4a8bcb;
    height: 100%;
    padding: 20px 0px; }
    footer#footer #navigation #sitemap ul {
      margin: 0px;
      padding: 0px;
      height: 70px; }
      footer#footer #navigation #sitemap ul li {
        float: left;
        width: 200px; }
        footer#footer #navigation #sitemap ul li a {
          color: white; }
          footer#footer #navigation #sitemap ul li a:hover {
            color: #c0b4a0; }
    footer#footer #navigation #contact p {
      background: url(images/phone-icon.png) no-repeat;
      display: inline;
      padding: 5px 0px 5px 30px;
      margin-right: 15px; }
    footer#footer #navigation #contact a {
      background: url(images/mail-icon.png) no-repeat;
      display: inline;
      color: white;
      padding: 5px 0px 5px 30px; }
      footer#footer #navigation #contact a:hover {
        color: #c0b4a0; }
  footer#footer #copyright {
    border-top: 1px solid #4a8bcb;
    height: 50px;
    line-height: 50px; }
    footer#footer #copyright a {
      color: white; }
      footer#footer #copyright a:hover {
        color: #c0b4a0; }
    footer#footer #copyright span {
      float: right; }
