// Firefox Hack - please be aware that this hack is NOT valid in w3c standars
@-moz-document url-prefix() {
/* add styles only for firefox here... */

footer{

	#bottom-newsletter{
		h2{
		}
		p{
			float:left;
			width:253px !important;
			margin-right: 25px !important;
		}
	}
}

}
// Safari/Chrome Hack - please be aware that this hack is NOT valid in w3c standars
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* add styles only for Safari/Chrome here... */    
}

// IE8 Hack
html.ie-8{
/* add styles only for IE8 here... */  
}
// IE7 Hack
html.ie-7{
/* add styles only for IE7 here... */  
}

// All IE versions Hack
html.no-js{
/* add styles for all IE versions here... */     
}

// Only Mac - Safari
html.mac{
/* add styles only for MAC Safari here... */  
}