// variables
@import "variables";
@import "normalize";
@import "hacks";

html{
	@include mp0;
}

body{
	background: $light-gray url(images/wrap-bg.png) repeat-x;
    font-family: $font;
    font-size: 14px;
	font-weight:normal;
	text-align:center;
}

a{
	color:$blue;
	text-decoration: none;
	&:hover{color:$gray;}
	&:visited{color:$dark-blue;}
}

// forms
input{
	border:none;
	height:35px;
	@include rounded();
	padding-left:10px;
	color:$silver;
	&:focus{
		outline: 2px solid $blue;
		@include rounded();
	}
}

// Headlines

h1, h2, h3, h4, h5, h6{
	font-family:$headline-font;
	font-weight: bold;
}
h1{
	font-size: 36px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 16px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    $dark-gray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $dark-gray;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $dark-gray;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $dark-gray;
}

#wrap{
	height:100%;
	margin:auto;
	position:relative;
	text-align:left;
	width:1060px;
	z-index: 100;

	header#header{

		h1{
			height:171px;
			position:absolute;
			width:171px;
		}

		#top-social-network{
			height:43px;
			padding-top:7px;
			margin:0px;

			ul#follow-us{
				color:$white;
				display:inline;
				list-style: none;
				@include mp0;

				li{
					background: url(images/social-network-sprite.png);
					display: inline-block;
					margin:0px 4px;
					height:35px;

					a{
						display:inline-block;
						height:35px;
						text-indent: -9999px;
						width:35px;

					}
				}
				.facebook{
					background-position: 0px 0px;
					&:hover{
						background-position: 38px 0px;
					}
				}
				.twitter{
					background-position: 0px -86px;
					&:hover{
						background-position: 38px -86px;
					}
				}
				.linkedin{
					background-position: 0px -171px;
					&:hover{
						background-position: 38px -171px;
					}
				}
				.youtube{
					background-position: 0px -255px;
					&:hover{
						background-position: 38px -255px;
					}
				}
				.flickr{
					background-position: 0px -340px;
					&:hover{
						background-position: 38px -340px;
					}
				}
			}
			#search{
				p{
					@include rounded();
					#s{
						background: $light-blue;
						color:$white;
						width: 218px;
						float: left;
					}
					#searchsubmit{
						background: $light-blue url(images/search-icon.png) top right no-repeat;
						width: 41px;
					}
				}
			}
		}

		#top-newsletter{
			height:61px;
			padding-top:20px; 
			h2{
				line-height: 40px;
				text-align: right;
				padding-right: 6px;
			}
			.newsletter-widget{
				p{
					float: left;
					margin-right: 5px;
				}
			}
			input[type="submit"]{
				color:$white;
				padding: 0px 13px;
				@include linear-gradient();
			}
		}

	}

	#container{
		background:$white;
		@include box-shadow;
		height:100%;
		width:1060px;

		#main-banner{
			background:url(images/main-banner-bg.jpg) no-repeat;
			height:453px;

			#text{
				border-left:1px solid $ochre;
				float: right;
				margin-top: 90px;
				padding-left: 15px;

				h2{
					color:$white;
					margin-bottom: 0px;
				}

				span{
					color:$ochre;
					font-size: 30px;
					font-weight: normal;
				}

				p{
					color:$white;
					font-size: 16px;
					font-weight: normal;
					padding: 15px 0px 0px;
				}

				a{
					background:url(images/arrow-ochre.png) top left no-repeat;
					color:$white;
					display:block;
					height:35px;
					line-height: 33px;
					padding-left: 40px;
					&:hover{
						color:$ochre;
					}
				}
			}
		}

		#main-banner.news, #main-banner.post{
			height: 36px;
			background-image:none;
			#text{
				display: none;
			}
		}

		nav{
			border-top:1px solid $ochre;
			width:100%;
			height: 54px;
			background-color: $blue;
			margin-bottom: 25px;

			ul{
				color:$white;
				display:inline-block;
				font-size: 18px;
				position:relative;
				margin:0px 50px;
				width:960px;

				li{
					display:inline-block;
					text-align: center;
					background-color:$blue;

					a{
						background-color: $blue;
						color:$white;
						display:inline-block;
						padding:15px 22px;
						text-decoration: none;
						&:hover{
							color:$ochre;
						}
					}

					&.current-menu-item {
						background: url("images/select.png") center bottom no-repeat;
						height:65px;
						margin-bottom: 15px;
					}
				}
			}
		}

		.content-area{
			margin: 50px 0 50px 50px;
			display: inline-block;

			h1{
				line-height: 47px;
			}

			input, textarea{
				border: 1px solid $dark-gray;
			}

			textarea{
				width: 80%;
			}

			.slidedeck-2-bug{
				display: none !important;
			}

			.has-sidebar{
				display: inline-block;
				width: 72%;
				float: left;
			}

			#secondary{
				display: inline-block;
				width: 26%;
				float: right;
				ul{
					list-style-type: none;
					li{
						border-bottom: 1px solid $light-gray;
						margin-bottom: 5px;
					}
				}
			}			

			.entry-content{
				.alignleft{
					float: left;
				}
				.alignright{
					float: right;
				}
				.alignnone{
					float: none;
				}
			}

			#comments{
				label{
					width: 67px;
					display: inline-block;
				}
				input, textarea{
					border: 1px solid $dark-gray;
				}
				textarea{
					width: 80%;
				}
				ol{
					list-style-type: none;
					.comment{
						width: 470px;
						display: inline;
						float: left;
						margin-bottom: 24px;
						.content{
							display: table;
							padding-left: 15px;
							border-left: 1px solid $gray;
							.comment-text{
								margin-bottom: -3px;
								max-height: 74px;
								overflow-y: auto;
							}
						}
						.comment-meta, .says, .reply{
							display: none;	
						}
						.vcard{
							float: left;
							padding-right: 15px;
						}
						.fn{
							font-weight: bold;
							font-style: normal;
							display: block;
						}										
					}					
				}
				#respond {
					clear: both;
				}
			}

			.search{
				h1{
					font-size: 21px;
					margin-bottom: 0;
					line-height: normal;
				}
				.page-header{
					margin-bottom: 20px;
				}
			}

			#post-8{
				pre{
					display: inline;
					margin-right: 16px;
				}
			}

			#searchform{
				#s{
					border: 1px solid $dark-gray;
					width: 218px;
					float: left;
				}
				#searchsubmit{
					background: url(images/search-icon.png) top right no-repeat;
					width: 41px;
					border: 1px solid $dark-gray;
					height: 39px;
				}					
			}
		}
		#sidebar{
			margin: 50px;
			ul {
				list-style-type: none;
				#s{
					border: 1px solid $dark-gray;
					width: 218px;
					float: left;
				}
				#searchsubmit{
					background: url(images/search-icon.png) top right no-repeat;
					width: 41px;
					border: 1px solid $dark-gray;
					height: 39px;
				}				
			}
		}		

		section{
			display:table;
			height: 100%;
			width:100%;

			div:first-child{
				margin-top: 35px;
				margin-bottom: 35px;

			}
			h3{
				padding-left: 35px;
			}
		}
		
		section#summarize{
			div{
				margin-top: 0px;
				margin-bottom: 35px;
			}
			h3{
				background:url(images/summarize-title-icon.png) no-repeat;
				margin-bottom: 33px;
			}
			
			article{

				background: $white;
				border:1px solid $light-gray;
				display:inline;
				float:left;
				height:100%;
				margin-left: 35px;
				text-align: center;
				width:238px;

				&:first-of-type{
					margin-left:160px;
				}

				h4{
					background:$light-ochre;
					margin-bottom: 0px;
					line-height: 50px;
					text-align: center;
					a{
						color: $dark-gray;
					}
				}
				p{
					padding: 10px;
					text-align: left;
					margin-bottom: 0px;

				}
				.read-more{
					@include button;
					display:inline-block;
					margin:10px 0px;
				}
			}

		}
		
		section#news{
			@include linear-gradient($fromColor:#e9e9e9, $toColor:#f7f7f7);

			h3{
				background:url(images/news-title-icon.png) no-repeat;
				display:inline;
				float:left;
				width:125px;
			}

			article{
				height:100%;
				display:inline;
				float:left;
				margin-left: 35px;
				text-align: left;
				width:240px;

				&:first-of-type{
					margin-left:0px;
				}

				h4{
					font-size: 18px;
					font-family: $font;
					font-weight: normal;

					a{
						color: $dark-gray;
					}
				}

				span{
					background:url(images/date-bg.png) no-repeat;
					color:$white;
					font-weight: 600;
					line-height: normal;
					padding:2px 16px;

				}

				p{
					padding: 10px 0px;
					margin-bottom: 0px;

				}

				.read-more{
					@include button;
					display:inline-block;
					margin:10px 0px;
				}

			}
		}
		section#blog{

			h3{
				background:url(images/blog-title-icon.png) no-repeat;
				display:inline;
				float:left;
				width:125px;
			}

			article{
				background: $light-ochre;
				border:1px solid $light-gray;
				display:inline;
				float:left;
				height:100%;
				margin-left: 35px;
				text-align: left;
				width:238px;

				&:first-of-type{
					margin-left:0px;
				}

				img{
					margin:0px;
					display:block;
				}

				h4{
					background:$blue;
					font-size: 16px;
					font-family: $font;
					font-weight: normal;
					line-height: normal;
					padding:10px;

					a{
						color:$white;
						&:hover{
							color:$ochre;
						}
					}
				}

				p{
					padding:10px;
					margin-bottom: 5px;
				}
			}
		}
		section#video{

			#video-box{
				display:inline;
				float:left;
				height:100%;
				position:relative;
				width:400px;
				@include mp0;

				h3{
					background:url(images/video-title-icon.png) no-repeat;
					margin-bottom: 33px;
				}

				a.prev{
					background:url(images/video-arrows-sprite.png) 0px 0px no-repeat;
					height:30px;
					position:absolute;
					right:35px;
					top:0px;
					width:30px;

					&:hover{
						background:url(images/video-arrows-sprite.png) -50px 0px no-repeat;
					}
				}

				a.next{
					background:url(images/video-arrows-sprite.png) 0px -50px no-repeat;
					height:30px;
					position:absolute;
					right:0px;
					top:0px;
					width:30px;

					&:hover{
						background:url(images/video-arrows-sprite.png) -50px -50px no-repeat;
					}
				}
			}
			#facebook-like{
				background: $light-ochre;
				display:inline;
				float:left;
				height:100%;
				margin-left: 35px;
				text-align: left;
				width:240px;

				h4{
					border:1px solid $light-gray;
					margin-bottom: 0px;
					line-height: 50px;
					text-align: center;
				}
			}
			#twitter-feed{
				display:inline;
				float:left;
				height:100%;
				margin-left: 35px;
			}
		}
		section#voice{
			@include linear-gradient($fromColor:#e9e9e9, $toColor:#f7f7f7);

			h3{
				background:url(images/voice-title-icon.png) no-repeat;
				margin-bottom: 33px;
			}

			#quote{
				img{
					display:inline;
					float:left;
					margin-right: 15px;
				}

				p{
					border-left:1px solid $gray;
					display:table;
					padding-left: 15px;
					span{
						font-weight: bold;
						display:block;
					}
				}
			}
		}
	}
}

footer#footer{
	background: url(images/pattern-footer.png) repeat;
	color:$white;
	height:360px;
	margin-top: -20px;
	position:relative;
	text-align: left;
	width:100%;
	z-index: 10;

	#bottom-newsletter{
		padding: 80px 0px 20px;
		h2{
			background:url(images/newsletter-title-icon.png) no-repeat;
			float:left;
			line-height: normal;
			padding-left: 35px;
			margin-right: 30px;
		}
		p{
			float:left;
			width:260px;
			margin-right: 30px;
			margin-bottom: 0px;
		}
		input[type="submit"]{
			color:$gray;
			padding: 0px 13px;
			@include linear-gradient($fromColor:#e6e6e6, $toColor:#c2c2c2);
		}
		.newsletter{
			float: left;
			width: 430px;
			p{
				float: none;
				display: inline;
				margin-right: 5px !important;
			}
		}
	}
	#navigation{
		border-top:1px solid $light-blue2;
		height:100%;
		padding:20px 0px;

		#sitemap{
			ul{
				@include mp0;
				height:70px;
				li{
					float:left;
					width:200px;
					a{
						color:$white;
						&:hover{
							color:$ochre;
						}
					}
				}
			}
		}
		#contact{
			p{
				background:url(images/phone-icon.png) no-repeat;
				display:inline;
				padding: 5px 0px 5px 30px;
				margin-right: 15px;
			}
			a{
				background:url(images/mail-icon.png) no-repeat;
				display:inline;
				color:$white;
				padding: 5px 0px 5px 30px;
				&:hover{
					color:$ochre;
				}
			}
		}
	}
	#copyright{
		border-top:1px solid $light-blue2;
		height:50px;
		line-height: 50px;
		a{
			color:$white;
			&:hover{
				color:$ochre;
			}
		}
		span{
			float: right;
		}
	}
}