@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,800,600,700);
@import url(http://fonts.googleapis.com/css?family=Junge);

// headline font
$headline-font: 'Junge', serif;

// default font
$font: 'Open Sans', sans-serif;

// colors
$gray: #333333;
$light-gray: #f1f2f4;
$dark-gray: #1c1b1b;
$silver: #555555;
$blue: #1a65af;
$light-blue: #1f79d1;
$light-blue2:#4a8bcb;
$dark-blue:#053463;
$white: #ffffff;
$light-ochre: #fcfcfb;
$ochre: #c0b4a0;

//mixins

@mixin mp0{
	margin:0px;
	padding: 0px;
}

@mixin linear-gradient($fromColor:#1e74bb, $toColor:#1657a4) {
	background-color: $toColor; /* Fallback Color */
	background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
	background-image: -moz-linear-gradient(top, $fromColor, $toColor);
	background-image: -o-linear-gradient(top, $fromColor, $toColor);
	background-image: -ms-linear-gradient(top, $fromColor, $toColor);
	background-image: linear-gradient(top, $fromColor, $toColor);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin rounded($radius: 3px){
	border-radius: $radius;
	behavior: url(../PIE.php);
}

@mixin box-shadow($horiz : 0px , $vert : 1px , $blur : 4px , $spread : 0px , $color : rgba(0, 0, 0, 0.2)){
	box-shadow: $horiz $vert $blur $spread $color;
	behavior: url(../PIE.php);
}

@mixin button{
	color:$white;
	@include linear-gradient();
	@include rounded();
	padding:10px 20px;
	text-align: center;
	&:hover{
		@include linear-gradient($fromColor:#e6e6e6, $toColor:#c2c2c2);
		color:$dark-gray;
	}

}